// colors
$orange: #e45028;
$yellow: #f9b43b;
$black: #2f3234;
$grey: #6a6a6b;

//resolutions
$tablets: 768px;
$phones: 480px;

//media
@import './_misc/media';

// setups
@import './_misc/fonts';
@import './_misc/layout';
@import './_misc/mixins';

// blocks
@import './blocks/hero';
@import 'blocks/best.scss';
@import 'blocks/team.scss';
@import 'blocks/contacts.scss';
@import 'blocks/reviews.scss';
@import 'blocks/order.scss';
@import 'blocks/footer.scss';
@import 'blocks/menu.scss';
@import 'blocks/hamburger-menu-link.scss';
@import 'blocks/slider.scss';
@import 'blocks/burger__slider.scss';

// common blocks
@import 'common/btn.scss';
@import 'common/fixedmenu.scss';
@import 'common/section-title.scss';


