// colors
$orange: #e45028;
$yellow: #f9b43b;
$black: #2f3234;
$grey: #6a6a6b;

//resolutions
$tablets: 768px;
$phones: 480px;
$iphones: 420px;

//media
@import '_misc/media.scss';

// setups
@import '_misc/fonts.scss';
@import '_misc/layout.scss';
@import '_misc/mixins.scss';

// blocks
@import 'blocks/hero.scss';
@import 'blocks/best.scss';
@import 'blocks/team.scss';
@import 'blocks/contacts.scss';
@import 'blocks/reviews.scss';
@import 'blocks/order.scss';
@import 'blocks/footer.scss';
@import 'blocks/menu.scss';
@import 'blocks/hamburger-menu-link.scss';
@import 'blocks/burger__slider.scss';

// common blocks
@import 'common/btn.scss';
@import 'common/fixedmenu.scss';
@import 'common/section-title.scss';


