.section-title {
    font-size: rem(72px);
    color: $yellow;
    margin-bottom: rem(50px);
    @include Gagalin();

    &_color {
        &_black {
            color: $black;
        }
    }

    &_align {
        &_center {
            text-align: center;
        }
    }

    &.section__title_white {
        color: white;
    }

    @include phones {
        font-size: rem(63px);
    }
}