.section-title {
    font-size: rem(72px);
    color: $yellow;
    @include Gagalin();

    &_color {
        &_black {
            color: $black;
        }

        &_white {
            color: #fff;
        }
    }

    &_align {
        &_center {
            text-align: center;
        }
    }


    @include phones {
        font-size: rem(63px);
    }
}
.section-title_padding_top_110{
    padding-top: rem(110px);
    padding-left: rem(95px);

    @include phones {
        padding-left: rem(30px);
    }
}