.section-title {
    font-size: 72px;
    color: $yellow;
    margin-bottom: 50px;
    @include Gagalin();

    &_color {
        &_black {
            color: $black;
        }
    }

    &_align {
        &_center {
            text-align: center;
        }
    }
}