.best {
    background: url('/img/bg/best-bg.jpg') center center no-repeat;
    background-size: cover;
}

.container {
    justify-content: center;
}

.best__list {
    display: flex;
    justify-content: space-between;
    margin-bottom: rem(50px);

    @include phones {
        flex-direction: column;

    }
}

.best__item {
    width: 30%;

    @include phones {
        width: 100%;
        display: flex;
        padding-left: rem(20px);
    }
}

.best__pic {
    display: flex;
    justify-content: center;
}

.best__info {
    text-align: center;

    @include phones {
        text-align: start;
        padding-left: rem(30px);
    }
}

.best__title {
    @include Lifehack();
    font-size: rem(24px);
    margin-bottom: rem(20px);
    margin-top: rem(30px);

    @include phones {
        font-size: rem(28px); 
    }
}

.best__desc {
    @include Ubuntulight();
    font-size: rem(14px);
    color: $grey;

    @include phones {
        font-size: rem(16px); 
    }
}

.best__icon {
    width: rem(100px);
    height: rem(90px);
}