.best {
    background: url('/img/bg/best-bg.jpg') center center no-repeat;
    background-size: cover;
}

.container {
    justify-content: center;
}

.best__list {
    display: flex;
    justify-content: space-between;
}

.best__item {
    width: 30%;
}

.best__pic {
    display: flex;
    justify-content: center;
}

.best__info {
    text-align: center;
}

.best__title {
    @include Lifehack();
    font-size: rem(24px);
    margin-bottom: rem(20px);
    margin-top: rem(30px);
}

.best__desc {
    @include Ubuntulight();
    font-size: rem(14px);
    color: $grey;
}

.best__icon {
    width: rem(100px);
    height: rem(90px);
}