.burgerslider {
    background: url('/img/bg/bg-burgerslider.jpg') center center no-repeat;
    background-size: cover;
}

.burgerslider__maincontent {
    display: flex;
    height: 100%;
    align-items: center;
}


.go-right-btn__pic, .go-left-btn__pic {
    width: rem(30px); 
    cursor: pointer;
}

.go-btn {
    fill: #fff; 
}

.go-right-btn__pic {
    transform: rotate(-90deg);
    margin-right: -0.1875rem;

    @include phones {
        margin-right:0;
    }
}

.go-left-btn__pic {
    transform: rotate(90deg);
    margin-left: -0.1875rem;

    @include phones {
        margin-left:0;
    }
}

.slider__container {
    @include phones {
        width: 85%;
    }  
}

.slider__content {
    display: flex;
    align-items: center;
    justify-content: center;
  

    @include tablets {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

.icons {
    @include Gagalin();
    font-size: rem(14px);
    text-transform: uppercase;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    margin-right: -7.9375rem;
    height: rem(470px);

    @include tablets {
        height: rem(100px);
        width: rem(600px);
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding-right: rem(50px);
    }

    @include phones {
        width: rem(540px);
    }
}

.btn__ingredients {
    background: #f08c33;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: rem(4px);
    cursor: pointer;
    width: rem(90px);
    height: rem(90px);
    fill: #fef7f1;
    color: #fef7f1;
}

.ingredients__icon {
    height: rem(60px);
    padding-top: rem(15px);
}

.ingr__text {
    margin-top: rem(5px);
}

.icon__kkal {
    display: flex;
    flex-direction: column;
    color: #f9d19d;
    fill: #f9d19d;
    padding-top: rem(300px);

    @include tablets {
        padding-right: rem(50px);
        padding-top: 0;
    }
}

.icon__bag {
    display: flex;
    height: rem(60px);
    width: rem(60px);

    @include phones{
        margin-right: rem(25px);
    }
}

.kkal__icon {
    height: rem(60px);
    position: relative;
}

.kkal__numbers{
    position: absolute;
    margin-top: rem(25px);
    margin-left: rem(13px);
    font-size: rem(20px);
}

.kkal_text {
    margin-left: rem(15px);
}

.content__left, .content__right {
    justify-content: center;
      
    @include tablets {
        width: 80%;
        text-align: center;
    }

}

.content__left {
    display: block;  
    width: 40%;
    margin-right: 8.8125rem;

    @include tablets {
        width: 100%;
        margin-right: 0;
    }
}

.slider__pic-img {
    @include phones {
        width: 100%;
    }
}

.content__right {
    display: block; 
    width: 50%; 

    @include phones {
        width: 100%;
    }
}

.section__title {
    line-height: rem(70px);
    justify-content: center;
}

.right__desc {
    @include Ubuntulight();
    font-size: rem(14px);
    color: #fff;

    @include phones {
        font-size: rem(16px);  
    }
}

.right__row {
    @include Gagalin ();
    color: #e35028;
    display: flex;
    flex-direction: row;
    align-items: center;

    @include tablets {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.price {
    font-size: rem(72px);
    margin-right: rem(10px);
}

.rubles {
    font-size: rem(30px);
    margin-right: rem(30px);
}