.footer {
    padding-top: rem(12px);
    padding-bottom: rem(12px);
    background: url('/img/content/footer.jpg') center center no-repeat;
    background-size: cover;

    @include phones {
        min-height: rem(110px);
    }
}

.footer__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: rem(80px);
    padding-right: rem(80px);

    @include tablets {
        padding-left: rem(32px);
        padding-right: 0;
    }

    @include phones {
        flex-direction: column;
    }
}

.footer__col {
    @include phones {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
}

.address {
    font-size: rem(14px);
    @include Ubuntulight();
    color: rgb(255, 255, 255);
    margin-bottom: rem(10px);

    @include phones {
        display: flex;
        justify-content: center;
        margin-bottom: rem(5px);
    }
}

.footer-tel {
    display: flex;
    align-items: center;
    text-decoration: none;

    @include phones {
        justify-content: center;
    }
}

.phone-icon {
    width: rem(14px);
    height: rem(14px);
    fill: #e35028;
    margin-right: rem(5px);
}

.footer-tel__text {
    font-size: rem(14px);
    @include Ubuntubold();
    color: #e35028;
}

.socials {
    display: flex;
    margin-right: rem(20px);

    @include phones {
        margin-top: rem(10px);
        margin-right: 0;
    }
}

.social-icon {
    margin-right: rem(20px);
    cursor: pointer;

    &:hover {
        fill: #fff; 
    }
}


.social-icon1 {
    width: rem(30px);
    height: rem(15px);
    fill: #595959;
}

.social-icon2 {
    width: rem(20px);
    height: rem(20px);
    fill: #595959;
}

.social-icon3 {
    width: rem(20px);
    height: rem(20px);
    fill: #595959;
}

.social-icon4 {
    width: rem(20px);
    height: rem(16px);
    fill: #595959;
}