.hero {
    background: url('/img/bg/hero-bg.jpg') center center no-repeat;
    background-size: cover;
    position: relative;
}

.hero__wrapper {
    @include tablets {
        z-index: 1;
        position: relative;
    }
}

<<<<<<< HEAD
=======
.container {
    justify-content: flex-start;
}
>>>>>>> master

.header {
    display: flex;
    align-items: center;
}

.header__logo {
    z-index: 15;
}

.header__btns {
    display: flex;
    align-items: center;
    padding-left: rem(65px);
    @include tablets{
        position: relative;
        width: 100%;
    }
}

.header__menu {
    flex: 1;
    text-align: right;
    @include tablets{
        right: 0;
    }
}
<<<<<<< HEAD

.btn-header {
    margin-right: rem(15px);
}

=======
>>>>>>> master
.btn-header-order,.header__menu {
    @include tablets{
        position: absolute;
    }
}
.btn-header-order{
    @include tablets{
        right: 10%;
    }
}
.nav {
    @include tablets {
        display: none;
    }
}

.nav--mobile {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    background: rgba(#2f3234, .99);
    width: 100%;
    height: 100%;
}

.nav__list {
    display: flex;
    align-items: center;
    @include tablets {
        display: flex;
        flex-direction: column;
<<<<<<< HEAD
        padding-left: 40%;
        align-items: center;
        justify-content: center;
=======
        padding-left: 42%;
        padding-top: rem(185px);
>>>>>>> master
        
    }
}

.nav__item {
    display: flex;
    align-items: center;
    @include tablets {
        position: relative;
<<<<<<< HEAD
        height: rem(70px);
=======
        height: 70px;
>>>>>>> master
    }

    &:after {
        content: '';
        width: rem(3px);
        height: rem(3px);
        border-radius: 50%;
        background: #fff;
        display: block;
        margin: 0 rem(15px);
        

        @include tablets {
<<<<<<< HEAD
            width: rem(7px);
            height: rem(7px);
=======
>>>>>>> master
            position: absolute;          
            margin: 0;
            top: 100%;
            transform: translate(-50%, -50%);
            left: 50%;
            margin-right: -50%;
        }
    }
}

.nav__item__last-child {

    @include tablets {
        position: relative;
<<<<<<< HEAD
        margin-top: rem(13px);
=======
        margin-top: 25px;
>>>>>>> master
    }
    &:after {
        display: none;
    }
}

.nav__link {
    color: #fff;
    font-size: rem(13px);
    text-transform: uppercase;
    text-decoration: none;
    @include Ubunturegular();
<<<<<<< HEAD

    @include tablets {
        font-size: rem(24px);
    }
}

=======
}



>>>>>>> master
.hero__container {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
<<<<<<< HEAD
    padding-bottom: 15%;
    padding-top: 10%;
=======
    padding-bottom: 5%;
>>>>>>> master
}

.hero__content {
    display: flex;
<<<<<<< HEAD
    align-items: center;
=======
>>>>>>> master

    @include tablets {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

.hero__left, .hero__right {
    width: 50%;
    
    @include tablets {
        width: 80%;
        text-align: center;
    }

    @include phones {
        width: 80%;
    }
}

.hero__pic {
    display: flex;
    justify-content: center;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.hero__right {
    padding-top: rem(115px);
    

    @include tablets {
        padding-top: 0;
    }
}

.section__title__hero {
    margin-bottom: rem(-50px);
}


.hero__desc {
    font-size: rem(65px);
    color: #fff;
    @include Lifehack();
    text-transform: lowercase;  
    line-height: 1em;

    @include tablets {
        text-align: center;
    }

    @include phones {
        font-size: rem(54px);
    }
}

.go-down-btn__pic {
    width: rem(30px); 
<<<<<<< HEAD
    margin-left: 48%;
    cursor: pointer;
    @include tablets {
        margin-top: rem(-40px);
    }  
=======
    padding-bottom: rem(10px); 
    margin-left: 48%;
    cursor: pointer;

>>>>>>> master
}

.go-down-btn__icon {
    fill: #fff; 
}

.cross_btn {
    display: none;
    position: absolute;
<<<<<<< HEAD
    top: rem(15px);
=======
    top: rem(30px);
>>>>>>> master
    right: rem(35px);
    width: rem(20px);
    height: rem(20px);
    cursor: pointer;
}
    
.cross_btn:before,
.cross_btn:after {
    content: "";
    position: absolute;
    top: 21px;
    left: 10px;
    width: 26px;
    height: 4px;
    background: #c0c1c2;
}
    
.cross_btn:before {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
    
.cross_btn:after {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.cross_btn--active {
    display: block;
}

