.hero {
    background: url('/img/bg/hero-bg.jpg') center center no-repeat;
    background-size: cover;
    position: relative;
}

.hero__container {
    justify-content: flex-start;
}

.header {
    display: flex;
    align-items: center;
}

.header__logo {
    z-index: 15;
}

.header__btns {
    display: flex;
    align-items: center;
    padding-left: rem(65px);
    @include tablets{
        position: relative;
        width: 100%;
    }
}

.header__menu {
    flex: 1;
    text-align: right;
    @include tablets{
        right: 0;
    }
}

.nav {
    @include tablets {
        display: none;
    }
}

.nav--mobile {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    background: rgba(#2f3234, .99);
    width: 100%;
    height: 100%;
}

.nav__list {
    display: flex;
    align-items: center;

    @include tablets {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: center;
        
    }
}

.nav__item {
    display: flex;
    align-items: center;
    @include tablets {
        position: relative;
        height: rem(70px);
    }

    &:after {
        content: '';
        width: rem(3px);
        height: rem(3px);
        border-radius: 50%;
        background: #fff;
        display: block;
        margin: 0 rem(15px);
        

        @include tablets {
            width: rem(7px);
            height: rem(7px);
            position: absolute;          
            margin: 0;
            top: 100%;
            transform: translate(-50%, -50%);
            left: 50%;
            margin-right: -50%;
        }
    }
}

.nav__item__last-child {

    @include tablets {
        position: relative;
        margin-top: rem(13px);
    }
    &:after {
        display: none;
    }
}

.nav__link {
    color: #fff;
    font-size: rem(13px);
    text-transform: uppercase;
    text-decoration: none;
    @include Ubunturegular();

    @include tablets {
        font-size: rem(24px);
    }
}

.btn-header-order,.header__menu {
    @include tablets {
        position: absolute;
    }
}

.btn-header-order {
    @include tablets {
        right: 10%;
    }
}

.btn-header {
    margin-right: rem(15px);
}

.hero__wrapper {
    @include tablets {
        z-index: 1;
        position: relative;
    }
}

.hero__content {
    flex: .8;
    display: flex;
    align-items: center;
    justify-content: center;

    @include tablets {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

.hero__left, .hero__right {
    width: 50%;
    
    @include tablets {
        width: 80%;
        text-align: center;
    }

    @include phones {
        width: 80%;
    }
}

.hero__pic {
    display: flex;
    justify-content: center;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.hero__right {
    padding-top: rem(115px);
    

    @include tablets {
        padding-top: 0;
    }
}

.hero__desc {
    font-size: rem(65px);
    color: #fff;
    @include Lifehack();
    text-transform: lowercase;  
    line-height: 1em;

    @include tablets {
        text-align: center;
    }

    @include phones {
        font-size: rem(54px);
    }
}

.go-down-btn__pic {
    width: rem(30px); 
    margin-left: 48%;
    cursor: pointer;
    @include tablets {
        margin-top: rem(-40px);
    }  
}

.go-down-btn__icon {
    fill: #fff; 
}


