.best {
    background: url('/img/bg/best-bg.jpg') center center no-repeat;
    background-size: cover;
}

.best__list {
    display: flex;
    justify-content: space-between;
}

.best__item {
    width: 30%;
}

.best__pic {
    display: flex;
    justify-content: center;
}

.best__info {
    text-align: center;
}

.best__title {
    @include Lifehack();
    font-size: 24px;
    margin-bottom: 20px;
    margin-top: 30px;
}

.best__desc {
    @include Ubuntulight();
    font-size: 14px;
    color: $grey;
}

.best__icon {
    width: 100px;
    height: 90px;
}