.footer{
    padding-top: 12px;
    padding-bottom: 12px;
    background: url('/img/content/footer.jpg') center center no-repeat;
    background-size: cover;
}
.footer__row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.adress{
    font-size: 14px;
    font-family: "Myriad Pro";
    color: rgb(255, 255, 255);
    margin-bottom: 10px;
}
.footer-tel{
    display: flex;
    align-items: center;
}
.phone-icon{
    width: 14px;
    height: 14px;
    fill: #e35028;
    margin-right: 5px;
}
.footer-tel__text{
    font-size: 14px;
    font-family: "Myriad Pro";
    color: #e35028;
}
.socials{
    display: flex;

}
.social-icon{
    width: 30px;
    height: 15px;
    fill: #595959;
}